body {
    margin: 0;
    padding: 0;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    background-color: #0D0D15;
    font-size: 18px;
    line-height: 28px;
    color: #F5F8FB;
}

p {
    margin: 0 0 16px;
}

a {
    color: #F5F8FB;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    list-style-type: none;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

button {
    background: none;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

/* Blocks for all pages */

.main {
    max-width: 1630px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

.btn {
    position: relative;
    display: flex;
    align-items: center;
    width: max-content;
    height: 48px;
    padding: 0px 15px;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-decoration: none;
    border: 2px solid #D0D7FB2B;
    color: #F5F8FB;
    box-sizing: border-box;
}

.btn--icon {
    padding: 0px 10px 0px 48px;
}

.btn--icon img {
    position: absolute;
    top: 10px;
    left: 10px;
}

.btn--color {
    background-color: #0265DC;
    border-color: #0265DC;
}

.image-label {
    position: absolute;
    top: 5px;
    right: 3px;
    padding: 0px 5px;
    background-color: #fff;
    color: #0265DC;
}

.image-label--sold {
    background-color: #EA3829;
    color: #F5F8FB;
}

.subtitle {
    margin-bottom: 40px;
    font-family: Bakbak One, Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.5px;
    text-align: center;
    color: #F8F7FF;
}

/* Header all pages */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1758px;
    margin: 0 auto;
    padding: 32px 15px;
}

.header-nav__wrapper {
    display: flex;
}

.header-nav__item a {
    border-bottom: 2px solid #0D0D15;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #F5F8FB;
}

.header-nav__item.active,
.header-nav__item a:hover {
    border-bottom: 2px solid rgb(2, 101, 220);
}

.header-actions {
    display: flex;
}

.search-form {
    position: relative;
    padding-right: 32px;
}

.search-form:after {
    content: '';
    position: absolute;
    top: 10px;
    right: 15px;
    width: 2px;
    height: 24px;
    background-color: #D0D7FB2B;
}

.search-form__input {
    width: 188px;
    height: 48px;
    padding: 12px 12px 12px 48px;
    border: 2px solid rgba(208, 215, 251, 0.17);
    font-size: 14px;
    line-height: 20px;
    color: #F5F8FB;
    background-color: transparent;
    box-sizing: border-box;
}

.search-form__btn {
    position: absolute;
    left: 12px;
    top: 12px;
    width: 24px;
    height: 24px;
}

.search-form__btn:hover {
    cursor: pointer;
}

.header-actions .btn--color {
    margin-left: 15px;
}

/* Index page Intro block */

.intro {
    background: radial-gradient(42.5% 42.5% at 22.28% -4.22%, rgba(2, 101, 220, 0.5) 0%, rgba(2, 101, 220, 0) 100%);
    margin-bottom: 40px;
}

.intro__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1630px;
    margin: 0 auto;
    padding: 0px 15px;
}

.intro__wrapper::after {
    content: url('images/bg-2.png');
    position: absolute;
    bottom: 0px;
    right: 200px;
    width: 200px;
    height: 240px;
}

.intro__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
}

.intro__bg {
    
}

.intro__title {
    max-width: 690px;
    margin-bottom: 10px;
    font-family: Bakbak One, Arial, Helvetica, sans-serif;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: -0.5px;
    text-transform: uppercase;
}

.intro__title span {
    color: #0265DC;
}

.intro__stats {
    display: flex;
    margin-bottom: 30px;
}

.intro__stat:first-child {
    margin-right: 40px;
}

.intro__num {
    font-size: 44px;
    line-height: 56px;
}

.intro__description {
    max-width: 690px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

.intro__title,
.intro__description,
.intro__stats,
.intro > .block__btns {
    position: relative;
    z-index: 2;
}

.btn + .btn {
    margin-right: 15px;
}

/* Index page Catalog block */

.catalog {
    position: relative;
    z-index: 2;
}

.catalog__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.catalog__actions,
.catalog__wrapper {
    display: flex;
}

.catalog__actions {
    order: 3;
}

.catalog__actions .btn--margin-right {
    position: relative;
    margin-right: 32px;
}

.catalog__actions .btn--margin-right:after {
    content: '';
    position: absolute;
    top: 10px;
    right: -18px;
    width: 2px;
    height: 24px;
    background-color: #D0D7FB2B;
}

.catalog__title {
    position: relative;
    padding-left: 30px;
    font-family: Bakbak One, Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 32px;
    order: 1;
}

.catalog__title::before {
    position: absolute;
    content: '';
    top: 3px;
    left: 0px;
    width: 24px;
    height: 24px;
    background-image: url('images/folder.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.catalog__navigation:after {
    order: 2;
    content: '';
    background: #D0D7FB2B;
    height: 1px;
    flex: 1 1 auto;
}

.catalog__item {
    padding: 30px;
    margin-right: 24px;
    background-color: #1D1C28;
    transition: all 2s ease;
}

.catalog__item:hover {
    background-image: url(images/hover-up-left.png), url(images/hover-down-right.png);            
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top left, bottom right;
    transition: all 2s ease;
}

.catalog__item--hover {
    background-color: #1D1C28;
}

.catalog__image {
    position: relative;
}

.catalog__price {
    font-family: Bakbak One, Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.5px;
}

.catalog__name {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #EFF5FA;
}

/* Index page Blog block */

.blog__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.blog__post {
    display: grid;
    grid-row: span 2;
    padding: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: #1D1C28;
}

.blog__image {
    position: relative;
}

.blog__image img {
    width: 100%;
    object-fit: cover;
}

.blog__post--small {
    height: 435px;
}

.blog__post--small .blog__image {
    overflow: hidden;
}

.blog__info {
    display: flex;
}

.blog__name,
.blog__date {
    position: relative;
    padding-left: 20px;
}

.blog__name {
    padding-right: 36px;
}

.blog__name::before {
    position: absolute;
    content: '';
    background-image: url('images/user.svg');
    background-size: cover;
    background-repeat: no-repeat;
    top: 3px;
    left: 0px;
    width: 16px;
    height: 16px;
}

.blog__name:after {
    content: '';
    position: absolute;
    top: 4px;
    right: 18px;
    width: 2px;
    height: 16px;
    background-color: #D0D7FB2B;
}

.blog__date::before {
    position: absolute;
    content: '';
    background-image: url('images/calendar.svg');
    background-size: cover;
    background-repeat: no-repeat;
    top: 3px;
    left: 0px;
    width: 16px;
    height: 16px;;
}

/* Index page Our Team block */

.team {
    max-width: 1300px;
    margin-inline: auto;
}

.team__members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 316px;
    height: 293px;
    margin: 0 30px 30px 0;
    padding: 30px;
    background-color: #1D1C28;
}

.team__image {
    display: block;
    border-radius: 50%;
}

.team__name,
.team__role {
    text-align: center;
}

/* Index page About block */

.about__wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.about__title {
    position: relative;
    margin-top: 55px;
    font-family: Bakbak One, Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    z-index: 2;
}

.about__text {
    font-size: 18px;
    line-height: 28px;
    color: #fff;
}

.about__features {
    display: flex;
    flex-wrap: wrap;
    counter-reset: tidbit-counter;
    list-style-type: decimal-leading-zero;
}

.about__features li:before {
    position: absolute;
    content: "0" counter(tidbit-counter);
    counter-increment: tidbit-counter;
    -webkit-text-stroke: 2px #0265DC;
    -webkit-text-fill-color: transparent;
    font-family: Bakbak One, Arial, Helvetica, sans-serif;
    font-size: 80px;
    line-height: 96px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.about__item {
    position: relative;
    width: 46%;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: #1A1925;
    box-sizing: border-box;
}

.about__item a {
    padding: 30px;
}

.about__item:nth-child(even) {
    margin-right: 0px;
}

.main--two-col {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
}

.block__btns {
    display: flex;
}

.btn__wrapper {
    display: flex;
    text-align: center;
}

.btn__wrapper--center {
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    text-decoration-style: none;
    text-decoration-line: none;
}

.logo__image {
    margin-right: 15px;
}

.logo__text {
    font-family: Bakbak One, Arial, Helvetica, sans-serif;
    font-size: 32px;
    line-height: 42px;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
    text-decoration-style: none;
    text-decoration-line: none;
    text-transform: uppercase;
}

.social {
    display: flex;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 10px;
}

/* Index page FAQs block */

.faq {
    width: 960px;
    margin: 0 auto 40px;
}

.faq__item {
    position: relative;
    margin-bottom: 15px;
    padding: 24px;
    background-color: rgba(29, 28, 40, 1);
}

.faq__question {
    font-family: Bakbak One, Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 32px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.faq__answer {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(191, 197, 238, 0.12);
}

details>summary {
    list-style: none;
}

summary::after {
    position: absolute;
    content: url('images/plus.svg');
    right: 24px;
}

details[open] summary:after {
    position: absolute;
    content: url('images/minus.svg');
    right: 24px;
}

/* Footer */

.footer {
    background-color: #1A1925;
}

.footer__main {
    display: flex;
    justify-content: space-between;
    max-width: 1630px;
    padding: 60px 15px 40px 15px;
    margin: 0 auto;
    border-bottom: 1px solid #BFC5EE1F;
}

.footer .logo__text {
    color: #0265DC;
}

.footer-nav {
    display: flex;
}

.footer-nav__block {
    margin-left: 20px;
}

.footer-nav__title {
    display: block;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

.footer-nav__item {
    padding: 2px 30px 2px 0px;
}

.footer__description {
    max-width: 320px;
    font-size: 14px;
    line-height: 20px;
}

.footer__secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1630px;
    margin: 0 auto;
    padding: 0px 15px;
}

.footer__copyright {
    font-size: 14px;
    line-height: 20px;
}

.footer__copyright span {
    text-transform: uppercase;
}

.footer__social img {
    vertical-align: top;
}

.catalog,
.blog,
.about,
.faq {
    margin-bottom: 80px;
}






/*Blog page */

.blog__main {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
}

.blog-intro {
    position: relative;
    display: flex;
    justify-content: center;
    height: 375px;
    margin: 0 auto;
    background-color: #14131C;
}

.blog-intro::before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background-image: url('images/bg-3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    opacity: 20%;
}

.blog-intro::after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background-image: url('images/bg-4.png');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: 2;
}

.blog-intro__wrapper {
    position: absolute;
    padding-top: 65px;
    z-index: 3;
}

.blog-intro__wrapper>.intro__title {
    text-transform: none;
    text-align: center;
}

.breadcrumbs {
    display: flex;
}

.breadcrumbs__item {
    position: relative;
    padding: 6px 12px;
}

.breadcrumbs__item--active {
    color: rgba(231, 238, 247, 0.66);
}

.breadcrumbs__item::after {
    content: '';
    position: absolute;
    top: 12px;
    right: -2px;
    width: 2px;
    height: 16px;
    background-color: #D0D7FB2B;
}

.breadcrumbs__item:last-child:after {
    display: none;
}

.sidebar {
    flex-basis: 25%;
    margin-right: 32px;
}

.sidebar__block {
    padding: 24px;
    background-color: rgba(29, 28, 40, 1);
}

.blog-content {
    flex-basis: 75%;
}

.blog__photo-wrapper {
    display: flex;
}

.blog__list {
    display: flex;
    flex-wrap: wrap;
    counter-reset: tidbit-counter;
    list-style-type: decimal-leading-zero;
}

.blog__list--mark {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    counter-reset: tidbit-counter;
    list-style-type: decimal-leading-zero;
}

.blog__list--mark li {
    padding-left: 30px;
    position: relative;
}

.blog__list--mark li:before {
    position: absolute;
    content: url('images/list-icon.svg');
    left: 0px
}

.blog__list--mark li:after {
    position: absolute;
    content: counter(tidbit-counter);
    counter-increment: tidbit-counter;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.blog__text--link {
    color: #78BBFA;
}

.blog__blockquote {
    background-color: #002754;
    border-radius: 16px;
}

.blog__blockquote--text {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}

.blog__blockquote--rating {
    position: relative;
    padding-left: 30px;
}

.blog__blockquote--rating:before {
    position: absolute;
    content: url('images/stars.svg');
    left: 0px
}

.tags__item a {
    border: 2px solid rgba(208, 215, 251, 0.17);
}

.sidebar__title {
    display: block;
    margin-bottom: 16px;
    padding-bottom: 16px;
    font-family: Bakbak One, Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 32px;
    border-bottom: 1px solid rgba(191, 197, 238, 0.12);
}

.categories__item {
    padding: 6px 12px;
}

.tags__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.tags__item {
    margin-bottom: 8px;
    margin-right: 8px;
}

.tags__item a {
    display: block;
    padding: 6px 12px;
}
